@import 'tailwindcss';
@plugin '@tailwindcss/forms';

/* Подключение шрифтов */
@font-face {
    font-family: "Bounded";
    src: url("/fonts/Bounded.ttf") format("truetype");
    font-weight: 200 900;
    font-display: swap;
}
@font-face {
    font-family: "Manrope";
    src: url("/fonts/Manrope.ttf") format("truetype");
    font-weight: 200 900;
    font-display: swap;
}

/* Переменные tailwind */
@theme {
    --font-bounded: "Bounded", sans-serif;
    --font-manrope: "Manrope", sans-serif;

    --color-white: #F3F1EF;
    --color-primary: #F05A28;
    --color-black: #202020;
    --color-dark-gray: #2A2A2A;
    --color-gray: #4A4A4A;

    --breakpoint-3xl: 2300px;
}

/* Глобальные стили */
body{
    @apply bg-white;
}
html, body {
    overflow: hidden;
    height: 100%;
}
#smooth-wrapper {
    height: 100%;
    overflow: hidden;
}
#smooth-content {
    padding-bottom: 10px;
}
@media (min-width: 1024px) {
    footer {
        padding-bottom: 20px;
    }
}
@media (min-width: 1513px) {
    footer {
        padding-bottom: 30px;
    }
}
section{
    @apply mb-21.5 lg:mb-30 2xl:max-w-[1760px] 2xl:mx-auto 2xl:mb-35;
}
.title-section{
    @apply font-bounded font-bold text-[28px] leading-8 text-black uppercase mb-1 md:text-[32px] md:leading-none md:mb-3 lg:text-5xl lg:mb-2 xl:text-[52px] 2xl:text-[64px];
}
.desc-section{
    @apply font-bounded font-light text-xl leading-6 text-black uppercase mb-6.5 md:text-[28px] md:leading-none lg:text-[36px] 2xl:text-[40px];
}